<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <!--Autenticación Windows-->
    <add name="DatabaseConnection"
		connectionString="Data Source=ENZO\SQLEXPRESS;Integrated Security=SSPI; Initial Catalog=BDTiendaDigital"
		 providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>